div{
text-align:center;
padding: 20px;    
font-size: 40px;
}

a{
border: 1px solid #ffffff;                  /*anchura, estilo y color borde*/
padding: 30px;                              /*espacio alrededor texto*/
background-color: #4B088A;                  /*color botón*/
color: #04B4AE;                             /*color texto*/
text-decoration: none;                      /*decoración texto*/
font-family: 'Helvetica', sans-serif;       /*tipografía texto*/
border-radius: 40px;                        /*bordes redondos*/
font-size: 50px;
margin:100px;
}

header{                                    
background-color: #F3F781;               
color: #ffffff;     
}

body{                                    
background-color: #210B61;               
color: #ffffff;     
}

button{           /* Botón que llama mi página de Facebook
border: 1px solid #A9F5A9;                  /*anchura, estilo y color borde*/
padding: 10px;                                     /*espacio alrededor texto*/
background-color: #BCA9F5;              /*color botón*/
color: #ffffff;                                         /*color texto*/
text-decoration: none;                          /*decoración texto*/
text-transform: uppercase;                   /*capitalización texto*/
font-family: 'Helvetica', sans-serif;       /*tipografía texto*/
border-radius: 100px;                          /*bordes redondos*/
font-size: 50px;
margin:10px;
}